<div class="col-sm">
  <div class="card">
    <div class="card-header">
      <h2>About Me</h2>
    </div>
    <div class="card-body">
      <p>
        During my college time, I was introduced to basic concept of programming. I was interested since then and
        upon graduating I've been upskilling myself to higher level of understanding. Learning from tutorials and
        reading documentation and practicing in console application, I picked up .NET platform for practical use
        of my application.
        <br />
        <br />
        I have developed some .net web application, WPF and windows form application using C#, JavaScript and HTML.
        I have some exposure to Node.js and learned popular framework such as Angular and asp.net Core.
        Learning course needed much time and effort but I'm certain I can start bigger and more complicated task
        confidently.
        <br />
        <br />
        I have practical experience in every stage of web development life cycle from developing, release and
        deploying and can provide:
        <br />
        <br />
        - Frontend and backend development
        <br />
        - Real Time communication
        <br />
        -  Part time work(Australian Student Visa)
        <br />
        - Level 1 Help desk experience
        <br />
        - Server Management
      </p>
    </div>
  </div>
</div>
